/* Parte de BRUNO */
h1 {
    color:chocolate;
    text-align: center;
}

p {
    color: red;
    font-size: 20px;
}

/* Fin parte de Bruno */

/* parte de sofi*/
body{
    margin: 0;
    font-family: arial, sans-serif;
    background-color: white;
    color: black;
}
nav{
    background-color: black;
    padding: 15px;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.producto{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}
.producto button{
    background-color: #f97316;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.producto h3{
    margin-bottom: 10px;
}
.producto p{
    color: #d95d5d;
    font-size: 16px;
}
.producto button:hover{
    background-color: #e85d04;
}
.producto img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}